body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
}

.popup {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #map {
    height: 100%;
    margin: 10rem auto;
  }
}
